.space-evenly {
  justify-content: space-evenly;
}

.title{
  font-size: xx-large;
  font-weight: 600;
}

.description{
  font-size: large;
}

.titleFont{
  font-family: 'Cairo', sans-serif;
  font-size: 3vw;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
}

.center{
  justify-content: center;
}

.ul{
  text-align: left;
    list-style-position: inside;
    padding-left: 40;
}

.li{
  padding-left: 10;
}